*{
    margin: 0;
    padding: 0;
    color: #222;
}

.meme-generator{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 50px;
}

.meme-generator img{
    height: 430px;
    object-fit: cover;
}

.meme-generator .generate-meme-btn{
    padding: 8px 20px;
    border: 0;
    border: transparent;
    margin: 24px 0;
    background-color: rgba(0,0,0,.1);
    box-shadow: 0 2px 4px 2px #999;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s ease;
}

.meme-generator .generate-meme-btn:hover{
    transform: scale(1.2);
    box-shadow: 0 4px 6px 4px #999;
}

.meme-generator .meme-author{
    margin: 8px;
}